/* Setup part */
/* Just styling the page */

body {
    margin: 0;
    padding: 0;
    background: #171717;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: Helvetica;
}

h1 {
    font-size: 70px;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    margin: 25px 0 0;
    margin-bottom: 30px;
}

.white-highlight {
    padding: 3px;
    color: black;
    background-color: #fff;
}

/* Without main styled the Grid would appear stretched */

main {
    width: 100vw;
    display: flex;
    justify-content: center;
}

main section {
    width: 100%;
    max-width: 800px;
    height: 100vh;
    max-height: 450px;
    background: #313131;
}

/* Why you're here */
/* The grid container is there just to make the content display as a grid */

#grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 15px;
    padding: 15px;
}

/* Using flex here let us manage the box content very nicely */

#grid .box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #171717;
} 

/* 
    This is the witchcraft part - you can decide the 2D layout with grid.
    This means for example that the box-1 <div> is shaped down here as you wish.

*/

#grid #box-1 {
    grid-row: 1/2;
    grid-column: 1/2;
    background: #4effd3;
}

#grid #box-2 {
    grid-row: 1/3;
    grid-column: 3/4;
    background: #e7e7e7;
}

#grid #box-3 {
    grid-row: 2/3;
    grid-column: 1/3;
    background: #ffe25f;
}

#grid #box-4 {
    grid-row: 1/2;
    grid-column: 2/3;
    background: #87cfff;
}