html, body {
    max-width: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
}

html {
    position: relative;
    min-height: 100%;
} /* this solved header and main content overlapping (idk why tho)*/

body {
    width: 100%;
    height: 100vh; /* vh stands for viewport height, it simply is the currently visible section "view height" ;) */
    margin: 0; /* some browsers add horizontal margins, making the page horizontally scrollable, bad! set them to 0! */
    background-color: #12171a; /* maybe change this to just background, since it accepts images arguments, play! */
    color: #99b898; /* somehow it's obvious that this is referred to text, so text color! (white now :) */
    font-family: Helvetica;
}

header {
    position: sticky;
    top: 0px;
    position: fixed;
    width: 100vw;
    background-color: #2a363b;
    margin-bottom: 1px;
    padding-bottom: 1px;
}

.header-h1 {
    display: flex;
    justify-content: center;
    color: #ff9538;
}

.header-h2 {
    display: flex;
    justify-content: center;
    font-size: small;
    color: #d48443
}

article.cat-widget {
    margin-top: 120px;
}

.cat-box {
    margin-top: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#copy-button {
    position: absolute;
    right: 10px;
    top: 10px;

    width: 50px;
    height: 50px;
    border-radius: 7px;
    border: none;
    background-image: url(http://icons.iconarchive.com/icons/custom-icon-design/mono-general-2/512/copy-icon.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;

    background-color: #ffa352;
}

#copy-button:hover {
    background-color: #4CAF50;
    border: 2px solid white;
}

#copy-button:active {
    background-color: #3ddb42;
    border: 2px solid white;
    background-image: url(https://icons.iconarchive.com/icons/praveen/minimal-outline/512/check-icon.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#cat-image-box {
    position: relative;
}


.cat-image {
    width: 500px;
    height: 500px;
    background-color: #03131a;
    padding: 5px;
    border-radius: 9px;
}

img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

#widget-settings {
    margin-top: 10px;
}

button {
    background-color: #ff9538;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #4CAF50;
    border: 2px solid white;
}

button:active {
    background-color: #3ddb42;
    border: 2px solid white;
}

footer {
    min-height: 200px;
}